.super-mario {
    width: 120px;
    position: absolute;
    margin-top: 50px;
    z-index: 1;
  }
  
  .goomba {
    width: 75px;
    position: absolute;
    margin-top: 225px;
    margin-left: 25px;
    z-index: 2;
  }
  
  .baloon {
    width: 300px;
    position: absolute;
    margin-left: 120px;
    z-index: 4;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-left: 142px;
    margin-top: 65px;
    z-index: 5;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    margin-left: 400px;
    margin-top: 140px;
    z-index: 3;
  }
